@tailwind base;
@tailwind components;
@tailwind utilities;
/* Simple.css offers some styling
   feel free to style anything globally here
*/

/* https://simplecss.org/demo */

/* display.ejs */
nav {
    padding: 1rem;
    text-align: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* welcome.ejs */
.welcome {
    display: grid;
    place-items: center;
    text-align: center;
}